#sacrix {
    position: relative;
    margin-bottom: 500px;
    padding: 20px;
}

#circleAnimation {
position: absolute;
  animation: growAndMove 8s ease-in-out forwards;
}

#section02, #sectionOcto {
    height: 50%;
    padding: 50px;
    color: #92F6F0;
    justify-content:center;
    animation: strechyPic 2s ease-in-out forwards;
    animation-delay: inherit;
}

#portfolio {
    color:rgb(223, 200, 160);
   margin: 20px;
}

#credits {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-size: 8pt;
    margin-bottom: 50px;
}

#contacts {
   color: rgb(255, 255, 255);
}

#contact_biz { 
    font-size: 8pt;
    color:   rgb(223, 200, 160); 
}

#copyrigths {
 
  font-size: 8pt;
  color:   rgb(223, 200, 160);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    --load-time: 1000ms;
    background-color: rgb(21, 91, 106);
    text-align: center;
  
}

h1 {
    color:   rgb(223, 200, 160);
}

h2 {
    color:  rgb(223, 200, 160);
}

h3 {
    color:white;
    font-weight: lighter;
}

footer {
    animation: footer-load var(--load-time) ease-in-out;
    line-height: 100%;

}

main {
    animation: main-load var(--load-time) ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    max-width: 100vw;

}

a {
    display: inline-block;
    text-decoration: none;
    color:rgb(21, 91, 106);
    background-color: rgb(223, 200, 160);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    max-width: 100vw;
    padding: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
  }

  a:hover {
    background-color: rgb(223, 200, 160);
    color:  #92F6F0;
  }





#S_letter {
    position:absolute;
    animation: strechAndStay 3s ease-in-out forwards;

}

#A_letter {
    position:absolute;
    animation: strechAndStay 3s ease-in-out forwards;

}

#C_letter {
    position:absolute;
    animation: strechAndStay 3s ease-in-out forwards;

}

#R_letter {
    position:absolute;
    animation: strechAndStay 3s ease-in-out forwards;

}

#I_letter {
    position:absolute;
    animation: strechAndStay 5s ease-in-out forwards;

}

#X_letter {
    position:absolute;
    animation: strechAndStay 3s ease-in-out forwards;

}

@keyframes strechyPic {
    0% { transform: scale(0); } 
    50% { transform: scaleX(10); } 
    100% { transform: scaleX(1); }
}

@keyframes strechAndStay {
    0%, 100% { transform: scaleY(1); }
    10% { transform: scaleY(100); } 
}

@keyframes growAndMove {
  0% { transform: scale(1); }
  10% { transform: scale(10); } 
  80% { transform: translateY(1000px) scale(1); }
  100% { transform: translateY(0px) scale(1); }
}

@keyframes main-load {
    100% {
        transform: scale(100%);
    }
    150% {
        transform: scale(150%);
    }
    0% {
        transform: scale(0);
    }
}

@keyframes footer-load {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0%) ;
    }
}

